* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(../img/img/pattern.png);
    background-color: #4ea0ff;
    background-size: 400px;
    height: 100px;      
}

#sfondo-rip {
    margin: 0;
}

#logo-header {
    width: 200px;
    height: 95%;
    background-image: url(../img/img/logo.svg);
    background-repeat: no-repeat;
    background-position: bottom;
    margin-bottom: 30px;
}

#logo-header,.conteiner {
    margin-left: 10px;
}

/* scritto da, potrebbero interessarti */
.informazioni-post {
   color: grey;
   margin-bottom: 10px;
}
/* /scritto da, potrebbero interessarti */

.data {
    font-size: x-small;
}

#link-booleaner {
    color: #52c5ef;
}

.immagini-tim {
    font-size: smaller;
}

.descrizione p {
    margin-top: 20px;
}
    
.lista-lorem {
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}

table.lorem {
    table-layout: fixed;
    width: 100%; 
    border-collapse: collapse;
    border: 1px solid black;
    text-align: left;
    margin-right: 20px; 
}

.tab-blu {
    background-color: #20a9e5;
}

.tab-lightblu {
    background-color: #b1e5f2;
}

footer {
    margin-top: 40px;
    margin-left: 10px;
}
/* immagini relative a post consigliati */
.post-primario, .post-secondario {
    width: 200px;
    height: 200px;
    color: aliceblue;
    font-weight: bold;   
}

.post-primario {
    background-image: url(../img/img/monitor.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    margin-bottom: 0;
}

.post-secondario {
    background-image: url(../img/img/graph.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.link span {
    margin-left: 10px;
    margin-top: 20px;
}
/* /immagini relative a post consigliati */

.evidenziato {
    background-color: yellow;
}